<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootswatch/4.4.1/materia/bootstrap.min.css">
    <link rel="stylesheet" href="/css/style.css">
    <title>Resultados</title>
</head>

<body>
    <nav class="navbar navbar-expand-lg navbar-main">
        <a class="navbar-brand" href="/api/main">web scraping</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse lista-nav" id="navbarNav">
            <ul class="navbar-nav">
                <li class="nav-item active">
                    <a class="nav-link" href="/api/main">Inicio <span class="sr-only">(current)</span></a>
                </li>
            </ul>
        </div>
    </nav>

    <div class="container">
        <div class="row">

            <div class="card-columns">

                <% images.forEach(function (image) { %>

                <div class="card animated fadeInDown">

                    <img src="<%= image.img %>" class="card-img-top" alt="<%= image.img %>">
                    <div class="card-body">

                        <% if( image.label !== 'No label') { %>
                        <p class="label-text"><%= image.label %></p>
                        <%} else {%>
                        <p></p>
                        <%}%>
                        <h5 class="card-title"><%= image.title %></h5>
                        <p class="card-text">Precio: <%= image.price %></p>
                    </div>
                </div>
                <% }) %>

            </div>

        </div>
    </div>
</body>

</html>